html,
body {
    height: 100%;
}

#hr-cabecalho {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

#table-cabecalho {
    height: 50px;
    width: 100%;
}

#titulo-cabecalho {
    font-weight: 500;
}

#btn-logout {
    cursor: pointer;
    color: #0d6efd;
    float: right;
}